services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/venv/
      - /app/frontend/node_modules/
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    env_file:
      - frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules/
    depends_on:
      - backend
    restart: always
